/* Fill the entire main pane (parent is flex column, no padding) */
.embedWrap {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.frame {
  flex: 1;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
